$darkMenu: #171717;
$borderNav: #242424;
$baseColor:rgb(200,10,72);
$darkColor:rgb(13,12,13);
$garyColor:rgb(161,161,161);
$activeColor:rgb(126, 6, 46);
$serviceBg:rgb(8,7,8);
$dashBorder:rgb(54,54,54);
$circle-progress:#363636;
